body{
  background-color:  rgb(37, 14, 66);
}
.logo{
    font-size: 5em;
    text-align: center;
    color:whitesmoke;
}
.fa-cog{
    color: white;
    font-size: 3em;
}
img{
    margin-top: 25%;
    margin-left: 40%;
}
h3{
    color:rgb(196, 191, 191);
}
.btn1{
   
    margin-top: 4em;
    padding: 1em;
    font-weight: bold;
    color:black;
    font-size: 2em;
    border-radius: 0.5em;
    
}
.btn{
    margin-top: 2em;
    padding: 1em 2em;
    font-weight: bold;
    color:black;
    text-align: center;
    font-size: 1.5em;
    border-radius: 0.5em;
}
.input{
    margin-top: 2em;
}
.fa-camera{
    font-size: 4em;
    color:white;
}
.label{
    color:white;
    
}
@media only screen and (max-width:800px) {
    /* For tablets: */
    .logo {
      font-size: 5em;
      text-align: center;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .logo {
        font-size: 3em;
        text-align: center;
    }
    .fa-cog{
        font-size: 2em;
    }
    .btn1{
   
        margin-top: 2em;
        margin-right: 1em;
        margin-left: 1em;
        padding: 0.5em;
        font-size: 1.5em;
    }
    .btn{
        margin-top: 1em;
        padding: 0.5em 1em;
        text-align: center;
        font-size: 1em;
    }
  }
